body {
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.navbar {
    background: rgba(247, 248, 249, .65);
    box-shadow: 0 .25rem 1rem rgba(48, 55, 66, .15);
    height: 3.8rem;
    right: 0;
    top: 0;
    left: 0;
    line-height: 1.5;
    padding: 0px 5%;
}

.navbar .navbar-brand {
    font-weight: 600;
    min-width: 90px;
}

.navbar .avatar {
    cursor: pointer;
}

.avatar-box {
    position: absolute;
    right: 20px;
    top: 10px;
    min-width: 280px;
    display: none;
    z-index: 999;
}

.avatar-box .menu {
    box-shadow: 0 24px 54px rgba(0, 0, 0, .15), 0 4.5px 13.5px rgba(0, 0, 0, .08);
    border-radius: 0px;
}

.container {
    margin: 10px 0px;
    padding: 0px 5%;
}

.card {
    box-shadow: 0 .25rem 1rem rgba(48, 55, 66, .15);
    border: 0px;
    border-radius: 0px;
    height: 100%;
}

.footer {
    padding: 2rem 5% 1rem 5%;
    text-align: center;
}

.container .hero {
    background: transparent !important;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.empty.signout {
    margin-top: 40px;
    padding: 5rem 0px;
}

.column {
    padding-left: .8rem;
    padding-right: .8rem;
}

.btn{
    border-radius: 0px !important;
}

.form-input{
    border-radius: 0px !important;
    border: none;
    border-bottom: .05rem solid #bcc3ce;
}

.columns, .column{
    margin-bottom: 25px;
}

.breadcrumb{
    margin-left: .5rem;
    margin-right: .5rem;
}

.hidden{
    display: none;
}

.form-select{
    border-radius: 0px;
}

@media (max-width: 600px) {
    .avatar-box {
        min-width: 90%;
        width: 90%;
    }
}